<form class="mb-30" asp-action="ApplyCoupon" asp-controller="ShoppingCart" method="post">
    <div class="input-group">
        <input type="text" class="form-control border-0 p-4" placeholder="Kupon Kodu" name="code">
        <div class="input-group-append">
            <button class="btn btn-primary">Kupon Uygula</button>
        </div>
    </div>
</form>