@model List<ResultCustomerServiceDto>

@{
    string getOverflowValueByModelCount()
    {
        return Model.Count > 4 ? "auto" : "hidden";
    }
}

<style>
    .service-item {
        height: 100%;
    }
</style>



<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var customerService in Model)
                {
                    <div class="bg-light p-4">
                        <h1 class="fa @customerService.Icon text-primary mb-3" style="font-size: 40px;"></h1>
                        <h5 class="font-weight-semi-bold mb-0">@customerService.Name</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
