<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - MultiShop Kullanıcı</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/user-template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/user-template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/user-template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/user-template/images/favicon.png" />
</head>