@model List<string>

<div id="product-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner bg-light">
        @if (Model.Count == 0)
        {
            <div class="carousel-item active">
                <img class="w-100 h-100" src="~/template/img/no-image.jpg">
            </div>
        }
        else
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item@(i == 0 ? " active" : "")">
                    <img class="w-100 h-100" src="@Model[i]" alt="productImage@(i)">
                </div>
            }
        }

        @if (Model.Count > 1)
        {
            <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                <i class="fa fa-2x fa-angle-left text-dark"></i>
            </a>
            <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                <i class="fa fa-2x fa-angle-right text-dark"></i>
            </a>
        }
    </div>

</div>