@model int

<a href="/shopping-cart" class="btn px-0 ml-3">
    <i class="fa fa-shopping-cart text-primary"></i>
    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@Model</span>
</a>