<div class="btn-group ml-2">
    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Gösterilen</button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">10</a>
        <a class="dropdown-item" href="#">20</a>
        <a class="dropdown-item" href="#">30</a>
    </div>
</div>