@model List<ResultBrandDto>

    <!-- Vendor Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">@Localizer["Title"]</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach(var brand in Model)
                {
                    <div class="bg-light p-4">
                        <img src="@brand.ImageUrl" alt="@brand.Name.Concat("logo")">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->