@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Hakkındalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Hakkında işlemleri</h1>
</section>

<div class="chart-box">
    <section class="content-header">
        <h3>Hakkında listesi</h3>
        <p>Hakkında ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
    </section>

    @if (Model.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var about in Model)
                {
                    <tr>
                        <td>
                            <p style="padding: 12px 0px;">@about.Description</p>
                        </td>
                        <td>
                            <ul class="sidebar-menu" data-widget="tree">
                                <li class="treeview">
                                    <a href="#"> <span>Seçenekler</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <form asp-action="Delete" asp-controller="About" asp-area="Admin" method="post">
                                                <input type="hidden" name="id" value="@about.Id" />
                                                <button type="submit" class="btn btn-link" style="padding:8px 10px; text-decoration:none; color:#787878"><i class="fa fa-angle-right" style="width:10px; margin-right:6px;"></i>Sil</button>
                                            </form>
                                        </li>
                                        <li>
                                            <a href="/admin/about/update/@about.Id"><i class="fa fa-angle-right"></i>Güncelle</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div role="alert" class="alert alert-info">Herhangi bir hakkında bulunmamaktadır.</div>
    }

    <a href="/admin/about/create" class="btn btn-primary">Yeni hakkında ekle</a>
</div>

