<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("LayoutHeader")

<body>
    @await Component.InvokeAsync("LayoutTopbar")
    @await Component.InvokeAsync("LayoutNavbar")
    <!-- Main Container Start -->
    <div class="container-fluid">
        @RenderBody()
    </div>
    <!-- Main Container End -->
    
    @await Component.InvokeAsync("LayoutFooter")
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    @await Component.InvokeAsync("LayoutScripts")
</body>

</html>