<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/admin-template/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Florence Douglas</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-th"></i> <span>Kategoriler</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/category"><i class="fa fa-angle-right"></i> Bütün kategoriler</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-th"></i> <span>Ürünler</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/product"><i class="fa fa-angle-right"></i> Bütün ürünler</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-rss"></i> <span>Öne çıkan görseller</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/featureSlider"><i class="fa fa-angle-right"></i> Bütün görseller</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-user"></i> <span>Kullanıcılar</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/user"><i class="fa fa-angle-right"></i> Bütün kullanıcılar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-star"></i> <span>Özel fırsatlar</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/specialOffer"><i class="fa fa-angle-right"></i> Bütün özel fırsatlar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-tags"></i> <span>İndirim fırsatları</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/offerDiscount"><i class="fa fa-angle-right"></i> Bütün indirim fırsatları</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>Müşteri hizmetleri</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/customerService"><i class="fa fa-angle-right"></i> Bütün müşteri hizmetleri</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-archive"></i> <span>Kargolar</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/cargo/company"><i class="fa fa-angle-right"></i> Bütün kargo şirketleri</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-flag"></i> <span>Markalar</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/brand"><i class="fa fa-angle-right"></i> Bütün markalar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-globe"></i> <span>Hakkındalar</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/about"><i class="fa fa-angle-right"></i> Bütün hakkındalar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-bar-chart"></i> <span>İstatistikler</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/statistics"><i class="fa fa-angle-right"></i> Bütün istatistikler</a></li>
                </ul>
            </li>
            <li>
                <a href="/"><i class="fa fa-university"></i> <span>Siteye git</span> </a>
            </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>