@model CreateProductDetailDto

@{
    ViewData["Title"] = "Ürün için açıklama ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h3>Ürün için açıklama ekle</h3>
    <p>Ürün için açıklama eklemek için aşağıdaki formda yer alan bütün alanları doldurmanız gerekir.</p>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <form asp-action="Create" asp-controller="ProductDetail" asp-area="Admin" method="post">
                <input type="hidden" class="form-control" name="productId" value="@Model.ProductId">
                <div class="form-group">
                    <label for="description">Açıklama</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label for="information">Bilgilendirme</label>
                    <textarea class="form-control" id="information" rows="3" name="information"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Gönder</button>
            </form>
        </div>
    </div>
</div>
