<div class="btn-group">
    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sıralanan</button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">En sonuncular</a>
        <a class="dropdown-item" href="#">Popüler</a>
        <a class="dropdown-item" href="#">En iyi puan alanlar</a>
    </div>
</div>