@{
    ViewData["Title"] = "Bizimle İletişime Geç";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">İletişime geçin</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form asp-action="CreateContact" asp-controller="ContactUs" method="post">
                    <div class="control-group">
                        <input type="text" class="form-control" id="nameSurname" name="nameSurname" placeholder="Ad Soyad"
                               required="required" data-validation-required-message="Lütfen adınızı ve soyadınızı giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-posta adresi"
                               required="required" data-validation-required-message="Lütfen e-posta adresi giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Konu"
                               required="required" data-validation-required-message="Lütfen konu giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="message" name="message" placeholder="Message"
                                  required="required"
                                  data-validation-required-message="Lütfen mesaj giriniz"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            @await Component.InvokeAsync("ContactUsAbout")
        </div>
    </div>
</div>
<!-- Contact End -->