@model ResultProductDetailDto

<div class="tab-pane fade show active" id="description-tab">
    <h4 class="mb-3">Ürün Açıklaması</h4>
    @if(Model.Id is null)
    {
        <p>Ürün hakkında bir açıklama bulunmamaktadır.</p>
    }
    else
    {
        <p>@Model.Description</p>
    }
</div>

<div class="tab-pane fade" id="information-tab">
    <h4 class="mb-3">Ürün Hakkında Bilgilendirme</h4>
    @if (Model.Id is null)
    {
        <p>Ürün hakkında bir bilgilendirme bulunmamaktadır.</p>
    }
    else
    {
        
        <p>@Model.Information</p>
    }
</div>

